.push-chk-bx-l{
  position:absolute;
  top:0;
  left:0rem;
}
.pad-left-space{
  padding-left:1.5rem;
}

.panel-body{
  padding:2rem;
  font-size:1.125rem;
  line-height:1.75rem;
}
.form-control{
  font-size:1.5rem;
  padding:1rem;
  height:65px;
}
.error{
  background-color:red;
  color:#fff;
}
.pad-forms{
  padding:2rem 0;
}
