// chosen overwrites
.chosen-container{
  font-size:1.5rem;
}
.chosen-container .chosen-results li{
  line-height:2rem;
}
.chosen-container-single .chosen-single{
  height: 65px;
  line-height: 65px;
}

// add styles
.form-input{}
